@font-face {
    font-family: "SamSamFont";
    src: url(../fonts/vazir.ttf);
}
body{
    direction: rtl;
    text-align: center;
}
h2{
    font-family: SamSamFont;
    margin: 0;
    text-transform: lowercase;
    color: #000;
}
body > footer > div > div > div.col-sm-6.footer-about-section.container > p{
    display: inline;
}
p{
    font-family: SamSamFont;
    width: 960px;
    margin: 20px auto;
    line-height: 150%;
    text-align: right;
}
*{
    font-family: SamSamFont;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
    text-align: right;
}

.scrollblock {
    display: block;
    position: relative;
    margin: 0;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.block-title {

}
.block-title h2, .block-title p{
    color: black;
}
.block00{
    background-color: #06406c;
}
.block00 h2, .block00 p{
    color: #FFF;
}
.block0{
    background-color: #348fd4;
}
.block0 h2, .block0 p{
    color: #06406c;
}
.block1{

}
.block1 h2,.block1 p{
    color: black;
}
.block2{
    background-color: #4c0d09;
}
.block2 h2, .block2 p{
    color: #d3b2af;
}
.block3{
    background-color: #cc4037;
}
.block3 h2, .block3 p{
    color: #4c0d09;
}
.block4{
    background-color: #ffc19f;
}
.block4 h2, .block4 p{
    color: #cc4037;
}
.nav li:hover {
    background-color: dodgerblue;
}
.nav , .navbar-brand{
    font-family: SamSamFont;
    font-weight: bolder;
    font-size: large;
}
.container{
    font-family: SamSamFont;
}
.footer-content{
        margin: 50px 0;
}
footer{
    background-image: url("../images/Footer.jpg");
    background-size: cover;
}
form{
    direction: rtl;
}
.content{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

