{% extends 'building/UserNavBar.html' %}


{% block navbar %}{% include 'building/buildingNavBar.html' %}{% endblock %}
{% block title %}Building Info{% endblock %}
{% block body %}
#TODO
    <p>d</p>
    <p>d</p>
    <p>d</p>
    <p>d</p>
    <p>d</p>
    <p>d</p>
    <p>d</p>
    <p>d</p>
    <p>d</p>
    <p>d</p>
    <p>d</p>
    <p>d</p>
    <p>d</p>
    <p>d</p>
    <p>d</p>
    <p>d</p>
    <p>d</p>
    <p>d</p>
    <p>d</p>
    <p>d</p>
    <p>d</p>
    <p>d</p>
    <p>d</p>
{% endblock %}