{% extends 'building/UserNavBar.html' %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'building/buildingStyle.css' %}">

{% block navbar %}{% if accountType == 1 %} {% include 'building/managerNavBar.html' %} {% else %} {% include 'building/neighborNavBar.html' %}  {% endif %}{% endblock %}

{% block title %}Poll{% endblock %}
{% block body %}
 <div class="col-sm-12">
        <div class="listContainer col-sm-10 col-lg-offset-1">
            <div class="listTitle pull-right col-sm-12">
                <h3> {{ Listname }} </h3>
            </div>
        </div>
        <div class="col-sm-10 col-lg-offset-1">
            <br>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>{{ title1 }}</th>
                        <th>{{ title2 }}</th>
                        <th>{{ title3 }}</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for p in all_polls %}
                    <tr>
                        <td>{{ p.subject }}</td>
                        <td>{{ p.startDate }}</td>
                        <td>{{ p.endDate }}</td>
                    <td class="link">
                        <a class="dalert" href="{% url 'building:dpoll' building_id=building.id pk=p.id %}"><button type="button" class="btn btn-danger">حذف</button></a>
                        <a href="{% url 'building:upoll' building_id=building.id pk=p.id %}"><button type="button" class="btn btn-info">تغییر</button></a>
                        <a href="{% url 'building:rpoll' building_id=building.id pk=p.id %}"><button type="button" class="btn btn-success">مشاهده</button></a>
                         </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-10 col-lg-offset-1" >
        <button class="col-md-12 btn btn-default" data-toggle="modal" data-target="#myModal">  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> ایجاد نظرسنجی جدید </button>
    {% include 'building/modal_template.html' with form=form %}
    </div>
{% endblock %}

