{% load staticfiles %}
<link rel="stylesheet" href="{% static 'building/BuildingNavBarStyle.css' %}">

<nav class="navbar navbar-inverse navbar-fixed-top" style="position: inherit">
  <div class="container-fluid" >
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header pull-right">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topNavBar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand active" href="{% url 'building:showdash'  building.pk  %}">داشبورد</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="topNavBar">
      <ul class="nav navbar-nav pull-right">
          <li class="dropdown-header">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">مشخصات ساختمان&nbsp;<span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li><a href="#">مدیریت امکانات</a></li>
                  <li><a href="#">امکانات</a></li>
                  <li><a href="#">اطلاعات ساختمان</a></li>
              </ul>
          </li>

          <li class="dropdown-header">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">امور مالی&nbsp;<span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li><a href="#">ثبت بدهی</a></li>
                  <li><a href="#">مدیریت بدهی</a></li>
                  <li><a href="{% url 'building:transaction' building.id %}">بدهی ها و گزارش پرداختی ها</a></li>
                  <li><a href="#">گزارش های مالی</a></li>
                  <li><a href="#">گزارش درآمدها</a></li>
              </ul>
          </li>

          <li class="dropdown-header">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">اخبار و اطلاع رسانی&nbsp;<span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li><a href="#">ایجاد و تغییر گزارش</a></li>
                  <li><a href="#">ایجاد و تغییر نظرسنجی</a></li>
                  <li><a href="#">ایجاد و تغییر اطلاعیه ها</a></li>
                  <li><a href="#">گزارش های خرابی</a></li>
                  <li><a href="#">نظرسنجی ها</a></li>
                  <li><a href="#">اطلاعیه ها</a></li>
              </ul>
          </li>

          <li class="dropdown-header">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">مدیریت ساختمان&nbsp; <span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li><a href="{%  url 'building:neighbor' building.id %}">مدیریت همسایه ها و پرسنل</a></li>
                  <li><a href="{%  url 'building:updateBuilding' building.id %}">تغییر مشخصات ساختمان</a></li>
                  <li><a href="{%  url 'building:unit' building.id %}">مدیریت واحدها</a></li>
              </ul>
          </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
