<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">{{ data }}</h4>
          </div>
          <form method="post" action="" role="form">
              {% csrf_token %}
          <div class="modal-body">
              {% include 'building/form_template.html' %}
          </div>
          <div class="modal-footer">
              <button type="submit"  class="btn btn-primary">ذخیره تغییرات</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">انصراف</button>
          </div>
              </form>
      </div>
  </div>
</div>
