{% extends 'building/UserNavBar.html' %}

{% block navbar %}{% if accountType == 1 %} {% include 'building/managerNavBar.html' %} {% else %} {% include 'building/neighborNavBar.html' %}  {% endif %}{% endblock %}
{% block title %}{{ building.name }}{% endblock %}
{% block body %}
<!-- TODO adding Search-->
 <div class='row'>

    <div class="col-sm-10 col-lg-offset-1">
        {% for unit,account in neighbor_unit.items %}
        <div class='col-sm-3'>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class='panel-title'>{% if account == 'empty' %} empty {% else %} {{account.user.first_name}}{{account.user.last_name}}  {% endif %}</h4>
          </div>
          <div class="panel-body">
            <p>
                unit id :{{unit.number }}
            </p>
          </div>
          <div class='panel-footer container-fluid'>
              <a class='col-md-4 btn btn-default' href='#' data-toggle="tooltip" title="تغییر مشخصات ساکن"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
              <a class='col-md-4 btn btn-default' href='#' data-toggle="tooltip" title="ارسال پیام"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a>
              <a class='col-md-4 btn btn-default' href='#' data-toggle="tooltip" title="ایجاد نقش"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
              <a class='col-md-4 btn btn-default' href='#' data-toggle="tooltip" title="ارسال نام کاربری و رمز عبور"><span class="glyphicon glyphicon-send" aria-hidden="true"></span></a>
              <a class='col-md-4 btn btn-default' href='#' data-toggle="tooltip" title="مشخصات ساکن"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
              <a class='col-md-4 btn btn-default' href='#' data-toggle="tooltip" title="حذف همسایه"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
          </div>
        </div>
            </div>
            {% endfor %}

        <div class="col-md-12">
            <a href="{% url 'building:createNeighbor' building.id %}">
            <button class="col-md-12 btn btn-default">  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> اضافه کردن همسایه جدید </button>
            </a>
        </div>
    </div>
    </div>



{% endblock %}
