{% extends 'building/UserNavBar.html' %}

{% block title %}Activities{% endblock %}
{% block body %}
 <div class="col-sm-12">
        <div class="listContainer col-sm-10 col-lg-offset-1">
            <div class="listTitle pull-right col-sm-12">
                <h3> {{ Listname }} </h3>
            </div>
        </div>
        <div class="col-sm-10 col-lg-offset-1">
            <br>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>{{ title3 }}</th>
                        <th>{{ title2 }}</th>
                        <th>{{ title1 }}</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for t in all_transaction %}
                    <tr>
                        <td>{{ t.trackingCode }}</td>
                        <td>{{ t.date }}</td>
                        <td>{{ t.amount }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <div class="col-sm-12">
        <div class="listContainer col-sm-10 col-lg-offset-1">
            <div class="listTitle pull-right col-sm-12">
                <h3> {{ Listname2 }} </h3>
            </div>
        </div>
        <div class="col-sm-10 col-lg-offset-1">
            <br>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>{{ title4 }}</th>
                        <th>{{ title2 }}</th>
                        <th>{{ title1 }}</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for d in all_debt %}
                    <tr>
                        <td>{{ d.type}}</td>
                        <td>{{ d.date }}</td>
                        <td>{{ d.amount }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

