{% extends 'manageUser/homeNavBar.html' %}
{% block title %}Call Us{% endblock %}
{% block body %}
<div class="bg">
    <div class="scrollblock block-title">
        <div class="w3-display-container w3-opacity-min" style="min-height: 400px">
            <div class="w3-display-middle">
                <span class="w3-xxlarge w3-text-black w3-wide" style="letter-spacing: 0">تماس با ما</span>
                <div class="w3-large w3-margin-bottom" style="color: white">
                    <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> ایران، تهران<br>
                    <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> تلفن تماس: 0935.550.9895<br>
                    <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> ایمیل: hadiroohi@gmail.com<br>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
