{% extends 'manageUser/homeNavBar.html' %}
{% block title %}SAM-SAM{% endblock %}
{% block body %}
    <div class="scrollblock block-title">
        <h2>SamSam</h2>
        <p>Best Software Ever!!</p>
        <p><a class="btn btn-primary btn-lg" href="{% url 'manageUser:signup' %}" role="button">Sign Up</a></p>
    </div>
    <div class="scrollblock block00">
        <h2 style="font-family: 'B Kourosh'; font-size: 50px">کیر تو دهن آقای پورسلیمانی</h2>
        <p>text of text 00</p>
    </div>
    <div class="scrollblock block0">
        <h2>Sample Text 0</h2>
        <p>text of text 0</p>
    </div>
    <div class="scrollblock block1">
        <h2>Sample Text 1</h2>
        <p>text of text 1</p>
    </div>
    <div class="scrollblock block2">
        <h2>Sample Text 2</h2>
        <p>text of text 2</p>
    </div>
    <div class="scrollblock block3">
        <h2>Sample Text 3</h2>
        <p>text of text 3</p>
    </div>
    <div class="scrollblock block4">
        <h2>Sample Text 2</h2>
        <p>text of text 2</p>
    </div>

{% endblock %}
